# registry = "https://registry.npmmirror.com"
# https-proxy = "http://127.0.0.1:10801"
registry = https://registry.npmjs.org/
strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
